@import "tailwindcss";

@theme {
  --color-brand: #003be2;
  --color-white: #f5f5f6;
  --color-lime: #d4fb20;
  --color-gray: #e5e6e8;
  --color-black: #242528;
  --color-navy: #040819;
  --color-blue: #003be2;
  --font-satoshi: "Satoshi", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}

body {
  font-family: var(--font-satoshi);
}

.wrapper {
  @apply max-w-[1200px] px-4 xl:px-0 mx-auto;
}

.para-1 {
  @apply text-gray max-w-5xl text-base md:text-lg font-normal;
}

.para-2 {
  @apply text-black text-base font-medium;
}

.para-3 {
  @apply text-[#82868E] text-lg font-normal;
}
.para-4 {
  @apply text-[#4F4F4F] text-lg font-normal;
}
.para-5 {
  @apply text-[#4B4C53] text-lg font-normal;
}

.heading-1 {
  @apply font-poppins text-3xl sm:text-5xl md:text-6xl lg:text-[72px] font-semibold max-w-4xl leading-[120%] text-center p-0 m-0;
}
.heading-2 {
  @apply text-4xl md:text-[44px] font-poppins font-semibold leading-[120%] text-navy;
}
.heading-3 {
  @apply text-black font-semibold text-xl;
}
.heading-4 {
  @apply text-3xl md:text-4xl font-semibold text-center text-navy;
}
.heading-5 {
  @apply text-3xl sm:text-4xl font-medium text-blue leading-none font-poppins;
}
.btn-1 {
  @apply w-full sm:w-auto rounded-full bg-lime px-6 lg:text-lg py-3 text-base font-medium text-black   cursor-pointer hover:bg-white transition-all duration-300;
}
